@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    background-color: #c7e5f3;
    margin: 0;
    position: relative;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding-left: 16px;
    padding-right: 16px;
}

#movies {
  display: flex;
  flex-wrap: wrap;           
  justify-content: center;   
  gap: 64px;                  
  margin-top: 40px;
}

.movie {
  width: 215px;               
  background-color: #184d6b;
  color: white;
  line-height: 1.4;
  border-radius: 10px;
  padding: 12px;              
  text-align: center;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 48px;
}

.movie img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}

.movie h3 {
  font-size: 16px;            
  margin-bottom: 6px;
}

.movie p {
  font-size: 14px;           
}

.movie:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.row {
    max-width: 1200px;
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

input, textarea {
    width: 100%;
    background-color: #ffffff;
    color: #000000;
    outline: none;
    border: 3px solid #c0c4cc;
    border-top: none;
    border-left: none;
    border-right: none;
    height: 40px;
    transition: all 300ms ease;
}

textarea {
    resize: vertical;
    height: 100px;
    margin-top: 8px;
}

label {
    font-size: 16px;
    font-weight: bold;
}

input:hover, textarea:hover {
    border-color: #dcdfe6;
}

input:focus, textarea:focus {
    border-color: #098992;
}

.modal--open .modal {
    z-index: 60;
     box-shadow: 0 20px 80px 0 rgb(0, 0, 0, 0.55);
     visibility: visible;
}
/*

LANDING

*/

#landing {
    max-width: 100vw;
    max-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    width: 100%;
    height: 165px;
    display: flex;
    align-items: center;
    padding: 8px 50px;
    position: relative;
    background-image: url(Cy7YPNg.jpg);
}


.nav__row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}
    

.nav__logo--img {
    width: 300px;
    height: 120px;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    padding: 8px 48px;
    align-items: center;
}

.nav__link {
    font-size: 20px;
    font-weight: 700;
    padding: 4px 64px;
    letter-spacing: 0.1px;
    transition: all 300ms;
    text-decoration: none;
}

.nav__link--anchor {
    color: #c7e5f3;
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #101e6d;
    transition: all 300ms ease;
    opacity: 0;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
    transition: all 300ms ease;
    opacity: 1;
}

.nav__link--contact {
    border: 0 solid rgb(0, 0, 0, 0.45);
    background-color: rgb(37, 69, 105);
    padding: 8px 24px;
    border-radius: 16px;
}

.nav__link--contact:hover {
    text-decoration: none;
    background-color: #091E52;
}

/*

HEADER

*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    line-height: 1.25;
    color: #184d6b;
    text-align: center;
    margin-bottom: 30px;
    padding: 36px;

}

.header__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__title {
    display: flex;
    justify-content: center;
    font-size: 64px;
}

.search__wrapper {
    position: relative;
    margin-top: 16px;
    max-width: 400px;
    width: 100%;
}

#search__input {
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    color: rgb(42, 38, 63);
    font-size: 16px;
    font-weight: 500;
    padding-left: 12px;
    width: 100%;
    padding-right: 24px;
    padding: 16px;
    outline: none;
    transition: border-color 300ms ease;

}

#search__input:hover {
    border-color: #3cb4c9;
}

#search__input:focus {
    box-shadow: 0 0 10px rgba(11, 78, 95, 0.3);
    border-color: #535a7e;
}

#searchBtn {
  background-color: #3cb4c9;
  color: white;
  border: none;
  padding: 10px;
  margin-left: 12px;
  padding-right: 28px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  position: absolute;
}

#searchBtn:hover {
  background-color: #305b77;
  transform: translateY(-1px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

#searchBtn:active {
    transform: scale(0.95)
}

.fa-magnifying-glass {
    font-size: 18px;
    position: absolute;
    right: 0;
    padding-right: 12px;
}

/* 

MODAL

*/

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 90%;
    max-width: 500px;
    background: linear-gradient(135deg, #2d4a6b, #067786);
    height: 500px;
    border-radius: 20px;
    padding: 40px;
    box-shadow: 0 20px 60px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: -1;
}

.modal--open {
    transform: translateX(0%);
}

.modal--open nav {
    transition: all 400ms;
}

.modal--open .modal {
    opacity: 1;
    visibility: visible;
    transform: translateY(-50%, -50%) scale(0.8);
}

.modal__title {
    font-size: 28px;
    font-weight: 700;
    color: white;
}

.form__item input,
.form__item textarea {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    margin-top: 6px;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
}


.form__submit {
    background-color: #2f3e5f;
    border: 2px solid #ffffff;
    color: white;
    font-weight: bold;
    width: 100%;
    padding: 14px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-top: 10px;
}

.form__submit:hover {
    border-color: white;
    background-color: #101f53;
}

.form__submit:active {
    border-color: #0744a0;
    color: #ffffff;
}

.modal__overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    z-index: 999;
}


.modal__overlay--loading {
    background-color: #027b91;
    font-size: 80px;
}

.modal__overlay--visible {
    display: flex;
    visibility: visible;
    opacity: 1;
    z-index: 1100;
}

.modal__overlay--success {
    background-color: #b8eff3;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    padding: 28px;
}

.fa-spinner {
    animation: spinner 750ms infinite linear;
    color: white;
}

@keyframes spinner {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

.modal__exit {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 26px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}


.click {
     transition: all 300ms ease;
    cursor: pointer;

}

.click:hover {
    transform: scale(1.1);
}

.click:active {
    transform: scale(0.8);
}

/* 

FOOTER

*/

footer {
  background-color: #184d6b;
  color: white;
  padding: 24px;
  text-align: center;
}



