@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    max-width: 100vw;
    max-height: 100vh;
    overflow-x: hidden;
    background-color: #c7e5f3;
    margin: 0;
    position: relative;
}


.row {
    max-width: 1200px;
    width: 100%;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}
/*

LANDING

*/

#landing {
    max-width: 100vw;
    max-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
    width: 100%;
    height: 165px;
    display: flex;
    align-items: center;
    padding: 8px 50px;
    position: relative;
    background-image: url(Cy7YPNg.jpg);
}


.nav__row {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}


.nav__logo {

}
    

.nav__logo--img {
    width: 300px;
    height: 120px;
}

.nav__links {
    display: flex;
    justify-content: space-between;
    padding: 8px 48px;
    align-items: center;
}

.nav__link {
    font-size: 20px;
    font-weight: 700;
    padding: 4px 64px;
    letter-spacing: 0.1px;
    transition: all 300ms;
    text-decoration: none;
}

.nav__link--anchor {
    color: #c7e5f3;
    position: relative;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    height: 2px;
    width: 100%;
    background: #2a2efa;
    transition: all 300ms ease;
    opacity: 0;
}

.link__hover-effect:hover:after {
    width: 100%;
    left: 0;
    transition: all 300ms ease;
    opacity: 1;
}

.nav__link--contact {
    border: 0 solid rgb(0, 0, 0, 0.45);
    background-color: rgb(37, 69, 105);
    padding: 8px 24px;
    border-radius: 16px;
}

.nav__link--contact:hover {
    text-decoration: none;
    background-color: #091E52;
}

/*

HEADER

*/

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
    line-height: 1.25;
    color: #0751b3;
    text-align: center;
    margin-bottom: 30px;
    padding: 36px;

}

.header__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header__title {
    display: flex;
    justify-content: center;
    font-size: 64px;
}

.search__wrapper {
    position: relative;
}

.search__input {
    border-radius: 500px;
    border: 2px solid rgb(229, 231, 235);
    color: rgb(42, 38, 63);
    font-size: 16px;
    font-weight: 500;
    padding: 12px 64px;
    width: 100%;

}

.fa-magnifying-glass {
    font-size: 24px;
    z-index: 1;
    position: absolute;
    margin-top: 12px;
}
